<div nz-row>
    <div nz-col nzXs="0" nzSm="0" nzMd="3" nzLg="3" nzXl="2"></div>
    <div nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="18" nzXl="20">
      <nz-content>
        <div class="inner-content">
          <nz-page-header>
            <nz-page-header-title>
              <nz-avatar
                nzShape="square" 
                nzIcon="user"
                [nzSrc]="country.countryData?.data.countryInfo.flag">
              </nz-avatar>
              {{ processName(country.countryData?.timeline.country) }}
            </nz-page-header-title>
          </nz-page-header>

          <nz-row [nzGutter]="[6, 6]" class="cases-by-country">
            <nz-col nzXs="12" nzSm="12" nzMd="6" nzLg="6" nzXl="6">
              <nz-spin [nzSpinning]="!country.countryData?.data">
                <nz-statistic 
                  [nzValue]="(country.countryData?.data?.cases | number: '1.0-2') || 'Cargando'" 
                  nzTitle="Total de casos">
                </nz-statistic>
              </nz-spin>
            </nz-col>
            <nz-col nzXs="12" nzSm="12" nzMd="6" nzLg="6" nzXl="6">
              <nz-spin [nzSpinning]="!country.countryData?.data">
                <nz-statistic 
                  [nzValue]="(country.countryData?.data?.deaths | number: '1.0-2') || 'Cargando'" 
                  nzTitle="Total de muertes"
                  [nzValueStyle]="{ color: '#CF1322' }">
                </nz-statistic>
              </nz-spin>
            </nz-col>
            <nz-col nzXs="12" nzSm="12" nzMd="6" nzLg="6" nzXl="6">
              <nz-spin [nzSpinning]="!country.countryData?.data">
                <nz-statistic 
                  [nzValue]="(country.countryData?.data?.recovered | number: '1.0-2') || 'Cargando'" 
                  nzTitle="Total de recuperados"
                  [nzValueStyle]="{ color: '#3F8600' }">
                </nz-statistic>
              </nz-spin>
            </nz-col>
            <nz-col nzXs="12" nzSm="12" nzMd="6" nzLg="6" nzXl="6">
              <nz-spin [nzSpinning]="!country.countryData?.data">
                <nz-statistic 
                  [nzValue]="(getRatio(country.countryData?.data?.deaths, country.countryData?.data?.cases) | number: '1.0-2') || 'Cargando'" 
                  nzTitle="Tasa de mortalidad"
                  nzSuffix="%">
                </nz-statistic>
              </nz-spin>
            </nz-col>
          </nz-row>

          <nz-page-header>
            <nz-page-header-title>Cronograma</nz-page-header-title>
          </nz-page-header>

          <nz-timeline nzMode="alternate">
            <nz-timeline-item 
              *ngFor="let data of country.countryData?.timeline.timeline.reverse()"
              [nzDot]="dotTemplate">
                <div><strong>Fecha:</strong> {{data.date | date:'dd/MM/y'}}</div>
                <div><strong>Casos:</strong> {{data.cases | number: '1.0-2'}}</div>
                <div><strong>Muertes:</strong> {{data.deaths | number: '1.0-2'}}</div>
            </nz-timeline-item>
            <ng-template #dotTemplate>
              <i nz-icon nzType="clock-circle-o" style="font-size: 14px;"></i>
            </ng-template>
          </nz-timeline>
        </div>
      </nz-content>
    </div>
    <div nz-col nzXs="0" nzSm="0" nzMd="3" nzLg="3" nzXl="2"></div>
</div>