.inner-content {
  background: #fff;
  padding: 24px;
}

.cases-by-country {
  margin-bottom: 1em;
}

nz-page-header {
  padding-left: 0;
  text-transform: uppercase;
}

.source {
  padding-left: .5rem;
}

.chart {
  height: 500px;
}