<div nz-row>
  <div nz-col nzXs="0" nzSm="0" nzMd="3" nzLg="3" nzXl="2"></div>
  <div nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="18" nzXl="20">
    <nz-content>
      <div class="inner-content">
        <h1>El Mundo</h1>
        <nz-row [nzGutter]="16">
          <nz-col nzXs="24" nzSm="12" nzMd="6" nzLg="6" nzXl="6">
            <nz-spin [nzSpinning]="!(totalCount$ | async)">
              <nz-statistic 
                [nzValue]="((totalCount$ | async)?.cases | number: '1.0-2') || 'Cargando'" 
                nzTitle="Total de casos">
              </nz-statistic>
            </nz-spin>
          </nz-col>
          <nz-col nzXs="24" nzSm="12" nzMd="6" nzLg="6" nzXl="6">
            <nz-spin [nzSpinning]="!(totalCount$ | async)">
              <nz-statistic 
                [nzValue]="((totalCount$ | async)?.deaths | number: '1.0-2') || 'Cargando'" 
                nzTitle="Total de muertes"
                [nzValueStyle]="{ color: '#CF1322' }">
              </nz-statistic>
            </nz-spin>
          </nz-col>
          <nz-col nzXs="24" nzSm="12" nzMd="6" nzLg="6" nzXl="6">
            <nz-spin [nzSpinning]="!(totalCount$ | async)">
              <nz-statistic 
                [nzValue]="((totalCount$ | async)?.recovered | number: '1.0-2') || 'Cargando'" 
                nzTitle="Total de recuperados"
                [nzValueStyle]="{ color: '#3F8600' }">
              </nz-statistic>
            </nz-spin>
          </nz-col>
          <nz-col nzXs="24" nzSm="12" nzMd="6" nzLg="6" nzXl="6">
            <nz-spin [nzSpinning]="!(totalCount$ | async)">
              <nz-statistic 
                [nzValue]="getRatio((totalCount$ | async)?.deaths, (totalCount$ | async)?.cases) | number: '1.0-2'" 
                nzTitle="Tasa de mortalidad"
                nzSuffix="%">
              </nz-statistic>
            </nz-spin>
          </nz-col>
        </nz-row>
      </div>
    </nz-content>
    <nz-content>
      <nz-spin [nzSpinning]="!(countriesCount$ | async)">
        <div class="inner-content">
          <h1>Los Países</h1>

          <nz-row [nzGutter]="16" *ngIf="selectedCountry"
            class="cases-by-country">
            <nz-col nzXs="24" nzSm="12" nzMd="6" nzLg="6" nzXl="6">
              <nz-statistic 
                [nzValue]="selectedCountry.cases | number: '1.0-2'"
                nzTitle="Casos en {{ selectedCountry.country }}">
              </nz-statistic>
            </nz-col>
            <nz-col nzXs="24" nzSm="12" nzMd="6" nzLg="6" nzXl="6">
                <nz-statistic 
                [nzValue]="selectedCountry.deaths | number: '1.0-2'"
                nzTitle="Muertes en {{ selectedCountry.country }}"
                [nzValueStyle]="{ color: '#CF1322' }">
              </nz-statistic>
            </nz-col>
            <nz-col nzXs="24" nzSm="12" nzMd="6" nzLg="6" nzXl="6">
              <nz-statistic 
                [nzValue]="selectedCountry.recovered | number: '1.0-2'"
                nzTitle="Recuperados en {{ selectedCountry.country }}"
                [nzValueStyle]="{ color: '#3F8600' }">
              </nz-statistic>
            </nz-col>
            <nz-col nzXs="24" nzSm="12" nzMd="6" nzLg="6" nzXl="6">
              <nz-statistic 
                [nzValue]="getRatio(selectedCountry.deaths, selectedCountry.cases) | number: '1.0-2'"
                nzSuffix="%"
                nzTitle="Tasa de mortalidad en {{ selectedCountry.country }}">
              </nz-statistic>
            </nz-col>
          </nz-row>

          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Elige un País" [(ngModel)]="filteredByCountry">
            <nz-option [nzLabel]="processName(item)" [nzValue]="processName(item)" *ngFor="let item of (countriesSorted$ | async)"></nz-option>
          </nz-select>

          <!-- <nz-input-group [nzSuffix]="suffixIconSearch">
            <input (keyup)="onKey($event)" type="text" nz-input placeholder="Buscar por país" />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
          </ng-template> -->

          <nz-table #smallTable 
            nzSize="middle"
            [nzData]="(countriesCount$ | async)" 
            [nzFrontPagination]="false" 
            [nzBordered]="true" 
            [nzLoadingIndicator]="true" 
            [nzLoadingDelay]="500"
            [nzSimple]="true"
            [nzShowTotal]="true">
            <thead>
              <tr>
                <th>País</th>
                <th>Casos</th>
                <th>Recuperados</th>
                <th>Muertes</th>
                <th [nzShowRowSelection]="false">Casos Hoy</th>
                <th>Muertes Hoy</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of (smallTable.data | byCountry:filteredByCountry)" 
                (click)="selectCountry(data)">
                <td>{{ processName(data) }}</td>
                <td>{{ data.cases | number: '1.0-2' }}</td>
                <td>{{ data.recovered | number: '1.0-2' }}</td>
                <td>{{ data.deaths | number: '1.0-2' }}</td>
                <td>{{ data.todayCases | number: '1.0-2' }}</td>
                <td>{{ data.todayDeaths | number: '1.0-2' }}</td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </nz-spin>
    </nz-content>
  </div>
  <div nz-col nzXs="0" nzSm="0" nzMd="3" nzLg="3" nzXl="2"></div>
</div>