.inner-content {
  background: #fff;
  padding: 24px;
}

.cases-by-country {
  margin-bottom: 1em;
}

td {
  cursor: pointer;
}

nz-page-header {
  padding-left: 0;
  text-transform: uppercase;
}

nz-select {
  width: 100%;
  margin-bottom: 1.5em;
}

i {
  color: #cf1322;
}
