.inner-content {
  background: #fff;
  padding: 24px;
}

.cases-by-country {
  margin-bottom: 1em;
}

td {
  cursor: pointer;
}

.source {
  padding: 0 24px;
}

nz-page-header {
  padding-left: 0;
  text-transform: uppercase;
}

nz-select {
  width: 100%;
  margin-bottom: 1.5em;
}

i {
  color: #cf1322;
}

nz-avatar {
  height: 14px;
  width: 14px;
  margin-right: .5rem;
}